In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('suicide_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'suicide_data.csv'

In [5]:
df

,Unnamed: 0,Unnamed: 1,Age-standardized suicide rates (per 100 000 population),Age-standardized suicide rates (per 100 000 population).1,Age-standardized suicide rates (per 100 000 population).2,Age-standardized suicide rates (per 100 000 population).3,Age-standardized suicide rates (per 100 000 population).4,Age-standardized suicide rates (per 100 000 population).5,Age-standardized suicide rates (per 100 000 population).6,Age-standardized suicide rates (per 100 000 population).7,...,Age-standardized suicide rates (per 100 000 population).10,Age-standardized suicide rates (per 100 000 population).11,Age-standardized suicide rates (per 100 000 population).12,Age-standardized suicide rates (per 100 000 population).13,Age-standardized suicide rates (per 100 000 population).14,Age-standardized suicide rates (per 100 000 population).15,Age-standardized suicide rates (per 100 000 population).16,Age-standardized suicide rates (per 100 000 population).17,Age-standardized suicide rates (per 100 000 population).18,Age-standardized suicide rates (per 100 000 population).19
0,Country,Sex,2019,2018,2017,2016,2015,2014,2013,2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
1,Afghanistan,Both sexes,6.0 [3.4-9.9],5.9 [3.4-9.8],6.0 [3.4-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9],6.0 [3.5-9.9],6.2 [3.6-10.2],6.2 [3.6-10.2],...,6.8 [4.0-11.1],7.2 [4.2-11.7],7.4 [4.3-12.1],7.6 [4.4-12.3],7.6 [4.4-12.3],7.8 [4.5-12.6],7.7 [4.5-12.5],7.9 [4.5-12.8],7.9 [4.5-12.8],7.7 [4.4-12.5]
2,Afghanistan,Male,6.2 [3.5-10.5],6.2 [3.5-10.4],6.3 [3.7-10.7],6.2 [3.6-10.3],6.1 [3.6-10.2],6.1 [3.6-10.2],6.3 [3.7-10.5],6.4 [3.7-10.5],...,7.0 [4.1-11.6],7.4 [4.3-12.2],7.7 [4.5-12.6],7.8 [4.5-12.7],7.8 [4.5-12.7],7.9 [4.5-12.9],7.8 [4.5-12.8],8.0 [4.6-13.1],7.9 [4.5-12.9],7.6 [4.4-12.5]
3,Afghanistan,Female,5.7 [3.2-9.2],5.6 [3.2-9.1],5.5 [3.1-9.0],5.8 [3.3-9.5],5.8 [3.3-9.4],5.9 [3.4-9.5],6.0 [3.5-9.8],6.1 [3.6-9.8],...,6.6 [3.9-10.5],6.9 [4.0-11.0],7.1 [4.2-11.4],7.3 [4.3-11.7],7.4 [4.3-11.9],7.6 [4.4-12.2],7.6 [4.5-12.2],7.7 [4.5-12.4],7.9 [4.6-12.6],7.8 [4.5-12.4]
4,Albania,Both sexes,3.7 [2.1-5.7],3.9 [2.2-6.0],4.1 [2.3-6.3],4.2 [2.3-6.3],4.2 [2.3-6.4],4.5 [2.5-6.7],4.8 [2.7-7.1],4.8 [2.8-7.0],...,8.0 [4.8-10.8],8.1 [5.0-10.8],8.1 [5.0-10.6],7.8 [5.0-10.2],7.7 [4.9-10.0],4.9 [3.1-6.3],4.9 [3.3-6.4],4.8 [3.2-6.3],4.7 [3.2-6.2],5.2 [3.6-6.9]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,Zambia,Male,25.7 [16.0-39.0],28.1 [17.7-42.4],29.1 [18.4-43.7],29.1 [18.5-43.5],30.0 [19.2-44.6],30.2 [19.5-44.5],30.0 [19.4-44.1],31.1 [20.3-45.5],...,32.6 [21.5-47.5],32.8 [21.6-47.9],33.4 [21.9-49.4],35.6 [23.3-52.9],35.8 [23.2-53.4],35.8 [23.2-53.4],34.2 [22.0-51.2],34.5 [22.1-51.9],34.3 [21.8-51.7],35.9 [22.8-54.0]
546,Zambia,Female,5.3 [3.1-8.4],6.0 [3.5-9.6],6.6 [3.9-10.6],6.7 [3.9-10.7],7.1 [4.2-11.2],7.9 [4.7-12.4],8.5 [5.1-13.3],8.7 [5.2-13.5],...,8.4 [5.1-12.9],8.2 [5.0-12.7],9.2 [5.6-14.3],11.0 [6.6-17.2],11.4 [6.8-18.1],11.9 [7.0-18.8],11.4 [6.7-18.1],12.6 [7.3-20.0],13.4 [7.8-21.3],14.5 [8.5-23.1]
547,Zimbabwe,Both sexes,23.6 [12.6-37.5],23.9 [12.7-37.8],25.9 [13.8-40.9],28.7 [15.4-45.3],30.7 [16.6-48.3],30.8 [16.7-48.4],31.4 [17.2-48.9],33.1 [18.1-51.3],...,35.2 [19.3-55.1],31.7 [17.3-49.5],27.2 [14.7-42.5],22.0 [11.7-34.5],22.0 [11.7-34.4],21.5 [11.4-33.7],20.2 [10.7-31.7],20.3 [10.7-32.0],19.5 [10.2-30.7],20.0 [10.3-31.5]
548,Zimbabwe,Male,37.8 [19.6-59.0],38.6 [19.8-60.3],41.3 [21.2-64.6],44.5 [22.8-69.2],47.4 [24.5-73.4],45.3 [23.5-70.1],46.4 [24.2-71.2],50.7 [26.6-77.7],...,48.3 [25.3-73.9],42.0 [21.9-64.0],36.3 [18.8-55.2],28.5 [14.5-43.3],32.1 [16.7-48.9],30.1 [15.6-45.7],29.4 [15.5-44.3],29.8 [15.7-44.8],28.6 [15.1-42.8],28.2 [14.8-42.1]
549,Zimbabwe,Female,13.5 [7.5-22.0],13.5 [7.6-21.9],15.0 [8.5-24.3],17.7 [10.0-28.6],19.2 [11.0-30.9],21.1 [12.1-33.9],21.3 [12.3-34.1],20.9 [12.1-33.2],...,26.9 [15.3-43.5],25.5 [14.4-41.1],21.8 [12.0-35.1],18.2 [9.9-29.7],15.2 [8.2-24.9],15.7 [8.5-26.0],13.7 [7.2-22.9],13.5 [7.0-22.9],13.0 [6.6-22.3],14.2 [7.0-24.4]

In [91]:
df2 = pd.read_csv('pennworldtable.csv')

In [7]:
df2

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12805,ZWE,Zimbabwe,US Dollar,2015,40141.61719,39798.64453,13.814629,6.393752,NaN,2.584653,...,0.140172,-0.287693,-0.051930,0.479228,0.651287,0.541446,0.616689,0.533235,0.422764,1.533909
12806,ZWE,Zimbabwe,US Dollar,2016,41875.20313,40963.19141,14.030331,6.504374,NaN,2.616257,...,0.131920,-0.251232,-0.016258,0.470640,0.651027,0.539631,0.619789,0.519718,0.416510,1.491724
12807,ZWE,Zimbabwe,US Dollar,2017,44672.17578,44316.74219,14.236595,6.611773,NaN,2.648248,...,0.126722,-0.202827,-0.039897,0.473560,0.639560,0.519956,0.619739,0.552042,0.415592,1.514525
12808,ZWE,Zimbabwe,US Dollar,2018,44325.10938,43420.89844,14.438802,6.714952,NaN,2.680630,...,0.144485,-0.263658,-0.020791,0.543757,0.655473,0.529867,0.641361,0.561526,0.425143,1.590120
12809,ZWE,Zimbabwe,US Dollar,2019,42296.06250,40826.57031,14.645468,6.831017,NaN,2.713408,...,0.213562,-0.270959,-0.089798,0.494755,0.652439,0.500927,0.487763,0.430082,0.420675,1.384068

### Countries I will select from each dataframe
United States(28)
Guyana?(4) South America
Cuba(34)

Asia:
South Korea(3)
Taiwan(10)
Japan(17)
Bhutan (located between India and China) (20)
Kazakhstan (5)
Hong Kong(37)
India(49)
Singapore(51)

Europe:
Ukraine(11)
Belarus(9)
Greenland (1)
France(24)
Finland(26)
Poland(29)
Czech Republic(32)
Germany(33)

In [10]:
target_countries = ['United States', 'Guyana', 'Cuba', 'South Korea',
                    'Taiwan', 'Japan', 'Bhutan', 'Kazakhstan', 'Hong Kong','India',
                   'Singapore', 'Ukraine', 'Belarus', 'Greenland', 'France',
                    'Finland', 'Poland', 'Czech Republic', 'Germany']

In [58]:
df2.country.unique()

array(['Aruba', 'Angola', 'Anguilla', 'Albania', 'United Arab Emirates',
       'Argentina', 'Armenia', 'Antigua and Barbuda', 'Australia',
       'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia (Plurinational State of)', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cte d'Ivoire", 'Cameroon', 'D.R. of the Congo', 'Congo',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Curaao',
       'Cayman Islands', 'Cyprus', 'Czech Republic', 'Germany',
       'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'Ecuador', 'Egypt', 'Spain', 'Estonia', 'Ethiopia', 'Finland',
       'Fiji', 'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana',
       'Guinea', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Guatemala', 'Guyana', 'China, Hong Kong SAR',
       'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'India',
       'Ireland', 'Iran (Islamic Republic of)', 'Iraq', 'Iceland',
       'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'Saint Kitts and Nevis',
       'Republic of Korea', 'Kuwait', "Lao People's DR", 'Lebanon',
       'Liberia', 'Saint Lucia', 'Sri Lanka', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'China, Macao SAR', 'Morocco',
       'Republic of Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro',
       'Mongolia', 'Mozambique', 'Mauritania', 'Montserrat', 'Mauritius',
       'Malawi', 'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Paraguay', 'State of Palestine', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Sierra Leone', 'El Salvador', 'Serbia',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo',
       'Thailand', 'Tajikistan', 'Turkmenistan', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Taiwan', 'U.R. of Tanzania: Mainland',
       'Uganda', 'Ukraine', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'British Virgin Islands',
       'Viet Nam', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [32]:
target_years = ['2000.0', '2001.0', '2002.0', '2003.0', '2004.0',
                '2005.0', '2006.0', '2007.0', '2008.0', '2009.0',
                '2010.0', '2011.0', '2012.0', '2013.0', '2014.0',
                '2015.0', '2016.0', '2017.0' '2018.0', '2019.0']

In [17]:
check = df2.where(df2['country'].isin(target_countries))

In [21]:
check.country.isna().sum()

11760

In [22]:
df2.shape

(12810, 52)

In [38]:
countries = check.dropna(subset=['country'])
countries

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
1400,BLR,Belarus,Belarussian Ruble,1950.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1401,BLR,Belarus,Belarussian Ruble,1951.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402,BLR,Belarus,Belarussian Ruble,1952.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1403,BLR,Belarus,Belarussian Ruble,1953.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1404,BLR,Belarus,Belarussian Ruble,1954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,USA,United States,US Dollar,2015.0,18905122.0,18785358.0,320.878310,150.248474,1770.023174,3.728116,...,0.119109,-0.171910,0.015626,0.939043,0.901439,1.243926,0.671554,0.716726,0.949906,1.0
12176,USA,United States,US Dollar,2016.0,19285252.0,19095196.0,323.015995,152.396957,1766.744125,3.733411,...,0.113846,-0.164109,0.015137,0.950885,0.918794,1.224623,0.667374,0.717047,0.968222,1.0
12177,USA,United States,US Dollar,2017.0,19754754.0,19542980.0,325.084756,154.672317,1763.726676,3.738714,...,0.115603,-0.170726,0.015552,0.969497,0.934584,1.213737,0.684219,0.720900,1.000000,1.0
12178,USA,United States,US Dollar,2018.0,20369440.0,20155260.0,327.096265,156.675903,1774.703811,3.744024,...,0.117129,-0.173503,0.016334,0.990763,0.963756,1.251203,0.706347,0.747758,1.038351,1.0
12179,USA,United States,US Dollar,2019.0,20860506.0,20595844.0,329.064917,158.299591,1765.346390,3.749341,...,0.111490,-0.165832,0.014591,1.005707,0.988310,1.266850,0.717118,0.752818,1.069460,1.0

In [42]:
check2 = countries.where(countries['year'].isin(target_years2))
check2

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,USA,United States,US Dollar,2015.0,18905122.0,18785358.0,320.878310,150.248474,1770.023174,3.728116,...,0.119109,-0.171910,0.015626,0.939043,0.901439,1.243926,0.671554,0.716726,0.949906,1.0
12176,USA,United States,US Dollar,2016.0,19285252.0,19095196.0,323.015995,152.396957,1766.744125,3.733411,...,0.113846,-0.164109,0.015137,0.950885,0.918794,1.224623,0.667374,0.717047,0.968222,1.0
12177,USA,United States,US Dollar,2017.0,19754754.0,19542980.0,325.084756,154.672317,1763.726676,3.738714,...,0.115603,-0.170726,0.015552,0.969497,0.934584,1.213737,0.684219,0.720900,1.000000,1.0
12178,USA,United States,US Dollar,2018.0,20369440.0,20155260.0,327.096265,156.675903,1774.703811,3.744024,...,0.117129,-0.173503,0.016334,0.990763,0.963756,1.251203,0.706347,0.747758,1.038351,1.0
12179,USA,United States,US Dollar,2019.0,20860506.0,20595844.0,329.064917,158.299591,1765.346390,3.749341,...,0.111490,-0.165832,0.014591,1.005707,0.988310,1.266850,0.717118,0.752818,1.069460,1.0

In [43]:
check2.year.isna().sum()

750

In [47]:
dollars_and_cents = check2.dropna(subset=['year'])
dollars_and_cents.country.value_counts()

Belarus           20
Bhutan            20
Czech Republic    20
Germany           20
Finland           20
France            20
Guyana            20
India             20
Japan             20
Kazakhstan        20
Poland            20
Singapore         20
Taiwan            20
Ukraine           20
United States     20
Name: country, dtype: int64

In [48]:
# I am missing some countries. 
# cuba, South Korea, Hong Kong, Greenland, 
# using df2.country.unique indicated South Korea is named Republic of Korea in the data frame. 
# Hong Kong is China, Hong Kong SAR (semi-autonomous region). Updated. 
# Greenland is not present. Lithuania is second in terms of suicide, it will take its place. 
# Canada will take the place of Cuba. 

target_countries

['United States',
 'Guyana',
 'Cuba',
 'South Korea',
 'Taiwan',
 'Japan',
 'Bhutan',
 'Kazakhstan',
 'Hong Kong',
 'India',
 'Singapore',
 'Ukraine',
 'Belarus',
 'Greenland',
 'France',
 'Finland',
 'Poland',
 'Czech Republic',
 'Germany']

In [64]:
target_countries_final = ['United States', 'Guyana', 'Canada', 'Republic of Korea', 'Taiwan', 'Japan', 'Bhutan', 'Kazakhstan', 'China, Hong Kong SAR', 'India',\
                   'Singapore', 'Ukraine', 'Belarus', 'Lithuania', 'France', 'Finland', 'Poland', 'Czech Republic', 'Germany']

In [65]:
df2new = df2.where(df2['country'].isin(target_countries_final))
df2new = df2new.dropna(subset=['country'])
df2new.country.value_counts()

Belarus                 70
Japan                   70
Ukraine                 70
Taiwan                  70
Singapore               70
Poland                  70
Lithuania               70
Republic of Korea       70
Kazakhstan              70
India                   70
Bhutan                  70
China, Hong Kong SAR    70
Guyana                  70
France                  70
Finland                 70
Germany                 70
Czech Republic          70
Canada                  70
United States           70
Name: country, dtype: int64

In [66]:
target_years2 = [2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,\
               2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0]

df2newnew = df2new.where(df2new['year'].isin(target_years2))
df2newnew = df2newnew.dropna(subset=['year'])
df2newnew.year.value_counts()

2000.0    19
2001.0    19
2018.0    19
2017.0    19
2016.0    19
2015.0    19
2014.0    19
2013.0    19
2012.0    19
2011.0    19
2010.0    19
2009.0    19
2008.0    19
2007.0    19
2006.0    19
2005.0    19
2004.0    19
2003.0    19
2002.0    19
2019.0    19
Name: year, dtype: int64

In [71]:
df2newnew.shape
df2newnew.to_csv('pennworldcleaner.csv', index=False)

In [30]:
# Should have conveted year to int, but hindsight is 2020 
# went through and added .0 to each value in my target years list. 
check2.shape

(1050, 52)

In [72]:
df3 = pd.read_csv('pennworldcleaner.csv')

In [73]:
df3

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,BLR,Belarus,Belarussian Ruble,2000.0,8.917716e+04,9.765696e+04,9.871632,4.372109,NaN,NaN,...,0.166126,-0.184716,0.105141,0.134269,0.203491,0.074551,0.464609,0.492811,0.133774,0.167131
1,BLR,Belarus,Belarussian Ruble,2001.0,9.244982e+04,9.509509e+04,9.811401,4.338583,NaN,NaN,...,0.178328,-0.204092,0.037485,0.141841,0.227353,0.103386,0.451009,0.438277,0.165317,0.202882
2,BLR,Belarus,Belarussian Ruble,2002.0,9.432126e+04,9.668456e+04,9.745923,4.294674,NaN,NaN,...,0.186085,-0.223651,0.044530,0.160726,0.248865,0.129283,0.456857,0.430897,0.196705,0.248277
3,BLR,Belarus,Belarussian Ruble,2003.0,9.702178e+04,1.012254e+05,9.679235,4.247723,NaN,NaN,...,0.201331,-0.236624,0.054137,0.181188,0.284349,0.168261,0.496590,0.491024,0.235737,0.325404
4,BLR,Belarus,Belarussian Ruble,2004.0,1.035195e+05,1.088544e+05,9.616634,4.220854,NaN,NaN,...,0.239881,-0.291149,0.080425,0.207965,0.342950,0.222796,0.535639,0.524560,0.293067,0.411686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,USA,United States,US Dollar,2015.0,1.890512e+07,1.878536e+07,320.878310,150.248474,1770.023174,3.728116,...,0.119109,-0.171910,0.015626,0.939043,0.901439,1.243926,0.671554,0.716726,0.949906,1.000000
376,USA,United States,US Dollar,2016.0,1.928525e+07,1.909520e+07,323.015995,152.396957,1766.744125,3.733411,...,0.113846,-0.164109,0.015137,0.950885,0.918794,1.224623,0.667374,0.717047,0.968222,1.000000
377,USA,United States,US Dollar,2017.0,1.975475e+07,1.954298e+07,325.084756,154.672317,1763.726676,3.738714,...,0.115603,-0.170726,0.015552,0.969497,0.934584,1.213737,0.684219,0.720900,1.000000,1.000000
378,USA,United States,US Dollar,2018.0,2.036944e+07,2.015526e+07,327.096265,156.675903,1774.703811,3.744024,...,0.117129,-0.173503,0.016334,0.990763,0.963756,1.251203,0.706347,0.747758,1.038351,1.000000
379,USA,United States,US Dollar,2019.0,2.086051e+07,2.059584e+07,329.064917,158.299591,1765.346390,3.749341,...,0.111490,-0.165832,0.014591,1.005707,0.988310,1.266850,0.717118,0.752818,1.069460,1.000000

In [79]:
df.columns=('country', 'sex', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010',\
           '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000')

In [82]:
# ignore first row of dataframe which is now simply the appropriate column name
#Take everything from the first row onward, and all columns
df = df.iloc[1: , :]
df

,country,sex,2019,2018,2017,2016,2015,2014,2013,2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
2,Afghanistan,Male,6.2 [3.5-10.5],6.2 [3.5-10.4],6.3 [3.7-10.7],6.2 [3.6-10.3],6.1 [3.6-10.2],6.1 [3.6-10.2],6.3 [3.7-10.5],6.4 [3.7-10.5],...,7.0 [4.1-11.6],7.4 [4.3-12.2],7.7 [4.5-12.6],7.8 [4.5-12.7],7.8 [4.5-12.7],7.9 [4.5-12.9],7.8 [4.5-12.8],8.0 [4.6-13.1],7.9 [4.5-12.9],7.6 [4.4-12.5]
3,Afghanistan,Female,5.7 [3.2-9.2],5.6 [3.2-9.1],5.5 [3.1-9.0],5.8 [3.3-9.5],5.8 [3.3-9.4],5.9 [3.4-9.5],6.0 [3.5-9.8],6.1 [3.6-9.8],...,6.6 [3.9-10.5],6.9 [4.0-11.0],7.1 [4.2-11.4],7.3 [4.3-11.7],7.4 [4.3-11.9],7.6 [4.4-12.2],7.6 [4.5-12.2],7.7 [4.5-12.4],7.9 [4.6-12.6],7.8 [4.5-12.4]
4,Albania,Both sexes,3.7 [2.1-5.7],3.9 [2.2-6.0],4.1 [2.3-6.3],4.2 [2.3-6.3],4.2 [2.3-6.4],4.5 [2.5-6.7],4.8 [2.7-7.1],4.8 [2.8-7.0],...,8.0 [4.8-10.8],8.1 [5.0-10.8],8.1 [5.0-10.6],7.8 [5.0-10.2],7.7 [4.9-10.0],4.9 [3.1-6.3],4.9 [3.3-6.4],4.8 [3.2-6.3],4.7 [3.2-6.2],5.2 [3.6-6.9]
5,Albania,Male,5.3 [2.7-8.3],5.6 [2.9-8.7],5.7 [2.9-9.0],5.7 [2.9-8.8],5.7 [2.9-8.7],6.2 [3.1-9.3],6.5 [3.4-9.7],6.6 [3.4-9.6],...,10.2 [5.4-14.0],10.5 [5.6-14.2],10.5 [5.8-14.1],10.1 [5.7-13.4],10.2 [5.9-13.4],6.7 [4.0-8.8],6.6 [4.1-8.7],6.6 [4.1-8.7],6.5 [4.2-8.5],7.6 [5.1-10.1]
6,Albania,Female,2.2 [1.4-3.3],2.4 [1.5-3.5],2.5 [1.6-3.7],2.7 [1.7-3.9],2.8 [1.8-4.1],2.9 [1.9-4.2],3.2 [2.2-4.6],3.2 [2.1-4.4],...,5.8 [4.3-7.7],5.8 [4.4-7.6],5.7 [4.3-7.3],5.7 [4.3-7.2],5.2 [4.0-6.7],3.1 [2.3-3.9],3.2 [2.5-4.1],3.0 [2.3-3.9],3.0 [2.3-3.8],2.9 [2.2-3.7]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,Zambia,Male,25.7 [16.0-39.0],28.1 [17.7-42.4],29.1 [18.4-43.7],29.1 [18.5-43.5],30.0 [19.2-44.6],30.2 [19.5-44.5],30.0 [19.4-44.1],31.1 [20.3-45.5],...,32.6 [21.5-47.5],32.8 [21.6-47.9],33.4 [21.9-49.4],35.6 [23.3-52.9],35.8 [23.2-53.4],35.8 [23.2-53.4],34.2 [22.0-51.2],34.5 [22.1-51.9],34.3 [21.8-51.7],35.9 [22.8-54.0]
546,Zambia,Female,5.3 [3.1-8.4],6.0 [3.5-9.6],6.6 [3.9-10.6],6.7 [3.9-10.7],7.1 [4.2-11.2],7.9 [4.7-12.4],8.5 [5.1-13.3],8.7 [5.2-13.5],...,8.4 [5.1-12.9],8.2 [5.0-12.7],9.2 [5.6-14.3],11.0 [6.6-17.2],11.4 [6.8-18.1],11.9 [7.0-18.8],11.4 [6.7-18.1],12.6 [7.3-20.0],13.4 [7.8-21.3],14.5 [8.5-23.1]
547,Zimbabwe,Both sexes,23.6 [12.6-37.5],23.9 [12.7-37.8],25.9 [13.8-40.9],28.7 [15.4-45.3],30.7 [16.6-48.3],30.8 [16.7-48.4],31.4 [17.2-48.9],33.1 [18.1-51.3],...,35.2 [19.3-55.1],31.7 [17.3-49.5],27.2 [14.7-42.5],22.0 [11.7-34.5],22.0 [11.7-34.4],21.5 [11.4-33.7],20.2 [10.7-31.7],20.3 [10.7-32.0],19.5 [10.2-30.7],20.0 [10.3-31.5]
548,Zimbabwe,Male,37.8 [19.6-59.0],38.6 [19.8-60.3],41.3 [21.2-64.6],44.5 [22.8-69.2],47.4 [24.5-73.4],45.3 [23.5-70.1],46.4 [24.2-71.2],50.7 [26.6-77.7],...,48.3 [25.3-73.9],42.0 [21.9-64.0],36.3 [18.8-55.2],28.5 [14.5-43.3],32.1 [16.7-48.9],30.1 [15.6-45.7],29.4 [15.5-44.3],29.8 [15.7-44.8],28.6 [15.1-42.8],28.2 [14.8-42.1]
549,Zimbabwe,Female,13.5 [7.5-22.0],13.5 [7.6-21.9],15.0 [8.5-24.3],17.7 [10.0-28.6],19.2 [11.0-30.9],21.1 [12.1-33.9],21.3 [12.3-34.1],20.9 [12.1-33.2],...,26.9 [15.3-43.5],25.5 [14.4-41.1],21.8 [12.0-35.1],18.2 [9.9-29.7],15.2 [8.2-24.9],15.7 [8.5-26.0],13.7 [7.2-22.9],13.5 [7.0-22.9],13.0 [6.6-22.3],14.2 [7.0-24.4]

In [88]:
dfnew = df.where(df['country'].isin(target_countries_final))
dfnew = dfnew.dropna(subset=['country'])
dfnew.country.value_counts()
# missing four countries again. 
# United States, Taiwan, Hong Kong, Czech Republic 
# Here it is United States of America,  ,  ,  Czechia
print(target_countries_final)
df.country.unique()
#Hong Kong and Taiwan are not retrievable. Due to the delicate nature of their respective zones, I am not completely surprised.

['United States', 'Guyana', 'Canada', 'Republic of Korea', 'Taiwan', 'Japan', 'Bhutan', 'Kazakhstan', 'China, Hong Kong SAR', 'India', 'Singapore', 'Ukraine', 'Belarus', 'Lithuania', 'France', 'Finland', 'Poland', 'Czech Republic', 'Germany']

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cte d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'North Macedonia', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [89]:
target_countries_df1 = ['United States of America', 'Guyana', 'Canada', 'Republic of Korea', 'Taiwan', 'Japan', 'Bhutan', 'Kazakhstan', 'China', 'India',\
                   'Singapore', 'Ukraine', 'Belarus', 'Lithuania', 'France', 'Finland', 'Poland', 'Czechia', 'Germany']

In [90]:
dfnew1 = df.where(df['country'].isin(target_countries_df1))
dfnew1 = dfnew1.dropna(subset=['country'])
dfnew1.country.value_counts()
# missing four countries again. 
# United States, Taiwan, Hong Kong, Czech Republic 
# Here it is United States of America,  ,  ,  Czechia

Belarus                     3
Bhutan                      3
Ukraine                     3
Singapore                   3
Republic of Korea           3
Poland                      3
Lithuania                   3
Kazakhstan                  3
Japan                       3
India                       3
Guyana                      3
Germany                     3
France                      3
Finland                     3
Czechia                     3
China                       3
Canada                      3
United States of America    3
Name: country, dtype: int64

In [92]:
# now I need to replace taiwan and hong kong in the other dataframe with china. 
df2
target_countries_df2 = ['United States', 'Guyana', 'Canada', 'Republic of Korea', 'China', 'Japan', 'Bhutan', 'Kazakhstan', 'India',\
                   'Singapore', 'Ukraine', 'Belarus', 'Lithuania', 'France', 'Finland', 'Poland', 'Czech Republic', 'Germany']

In [94]:
df2new = df2.where(df2['country'].isin(target_countries_df2))
df2new = df2new.dropna(subset=['country'])
df2new.country.value_counts()
#len(target_countries_df2) 
# all present.

18

In [95]:
target_years2 = [2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,\
               2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0]

df2newnew = df2new.where(df2new['year'].isin(target_years2))
df2newnew = df2newnew.dropna(subset=['year'])
df2newnew.year.value_counts()

2000.0    18
2001.0    18
2018.0    18
2017.0    18
2016.0    18
2015.0    18
2014.0    18
2013.0    18
2012.0    18
2011.0    18
2010.0    18
2009.0    18
2008.0    18
2007.0    18
2006.0    18
2005.0    18
2004.0    18
2003.0    18
2002.0    18
2019.0    18
Name: year, dtype: int64

In [96]:
df2newnew.shape
df2newnew.to_csv('pennworldcleaner.csv', index=False)

In [164]:
df2 = pd.read_csv('pennworldcleaner.csv')

In [165]:
df2.country.value_counts()

Belarus              20
Bhutan               20
Ukraine              20
Singapore            20
Poland               20
Lithuania            20
Republic of Korea    20
Kazakhstan           20
Japan                20
India                20
Guyana               20
France               20
Finland              20
Germany              20
Czech Republic       20
China                20
Canada               20
United States        20
Name: country, dtype: int64

In [99]:
dfnew1.country.value_counts()
# so now I want to replace all instances of United States of America and Czechia
# turning them into United States and Czech Republic

Belarus                     3
Bhutan                      3
Ukraine                     3
Singapore                   3
Republic of Korea           3
Poland                      3
Lithuania                   3
Kazakhstan                  3
Japan                       3
India                       3
Guyana                      3
Germany                     3
France                      3
Finland                     3
Czechia                     3
China                       3
Canada                      3
United States of America    3
Name: country, dtype: int64

In [109]:
# Change conflicting country names - simple regex
dfnew1["country"] = dfnew1["country"].replace("United States of America", "United States", regex=True)
dfnew1["country"] = dfnew1["country"].replace("Czechia", "Czech Republic", regex=True)
dfnew1.country.value_counts()
# Excellent. Conversion complete.

Belarus              3
Bhutan               3
Ukraine              3
Singapore            3
Republic of Korea    3
Poland               3
Lithuania            3
Kazakhstan           3
Japan                3
India                3
Guyana               3
Germany              3
France               3
Finland              3
Czech Republic       3
China                3
Canada               3
United States        3
Name: country, dtype: int64

In [110]:
dfnew1

,country,sex,2019,2018,2017,2016,2015,2014,2013,2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
43,Belarus,Both sexes,16.5 [11.4-23.7],17.9 [12.8-24.8],18.5 [13.8-24.4],19.4 [15.1-24.6],19.6 [15.7-24.2],21.6 [17.7-26.0],22.8 [19.0-27.1],24.6 [21.0-28.6],...,30.4 [26.3-34.8],30.6 [26.4-35.0],30.9 [26.6-35.6],34.8 [29.7-40.1],37.2 [31.8-43.0],36.1 [30.9-41.4],37.1 [32.1-42.4],38.7 [33.6-44.1],38.3 [33.5-43.4],37.3 [32.6-42.1]
44,Belarus,Male,30.1 [20.9-43.3],32.8 [23.6-45.3],33.8 [25.5-44.6],35.5 [27.8-45.1],36.0 [29.1-44.3],39.7 [32.7-47.5],41.8 [35.0-49.4],45.1 [38.7-52.1],...,55.7 [48.4-63.4],56.4 [49.0-64.4],57.0 [49.2-65.3],64.1 [55.0-73.7],68.9 [59.0-79.2],66.7 [57.5-76.3],69.1 [60.1-78.7],71.9 [62.7-81.5],71.5 [62.7-80.6],69.3 [60.9-78.0]
45,Belarus,Female,5.3 [3.5-7.6],5.6 [3.9-7.9],5.7 [4.2-7.7],6.0 [4.6-7.6],5.9 [4.6-7.4],6.3 [5.0-7.8],6.8 [5.5-8.3],7.3 [6.0-8.8],...,8.9 [7.4-10.5],8.6 [7.2-10.1],8.7 [7.2-10.2],9.5 [7.9-11.3],10.0 [8.2-11.9],9.7 [8.1-11.6],9.5 [7.9-11.2],10.0 [8.3-11.7],9.5 [8.0-11.1],9.5 [8.0-11.1]
55,Bhutan,Both sexes,5.1 [2.7-8.5],5.1 [2.8-8.6],5.1 [2.8-8.7],5.1 [2.8-8.5],5.2 [2.8-8.7],5.2 [2.9-8.7],5.2 [2.9-8.7],5.2 [2.9-8.7],...,5.4 [3.0-8.9],5.5 [3.1-9.1],5.7 [3.2-9.3],5.9 [3.4-9.6],6.0 [3.5-9.7],6.1 [3.6-10.0],6.4 [3.7-10.3],6.5 [3.8-10.5],6.8 [4.0-11.1],6.9 [4.0-11.2]
56,Bhutan,Male,6.8 [3.6-11.5],6.8 [3.6-11.6],6.8 [3.7-11.7],6.7 [3.7-11.5],6.9 [3.8-11.8],7.0 [3.8-11.9],7.0 [3.8-11.8],7.0 [3.9-11.9],...,7.2 [4.0-12.0],7.3 [4.1-12.2],7.4 [4.2-12.4],7.5 [4.3-12.6],7.7 [4.4-12.7],7.8 [4.5-13.0],8.1 [4.6-13.4],8.2 [4.7-13.5],8.5 [4.9-14.2],8.6 [4.9-14.2]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,Ukraine,Male,32.7 [24.1-43.1],33.3 [25.6-42.4],31.3 [25.2-38.3],32.4 [27.4-37.9],33.0 [28.2-38.2],37.6 [32.8-42.9],34.4 [30.1-39.0],35.2 [30.9-39.9],...,40.5 [35.7-45.5],48.3 [42.5-54.5],49.3 [43.3-55.6],47.8 [42.1-54.0],53.0 [46.5-59.7],53.1 [46.7-60.0],54.2 [47.7-61.1],57.3 [50.4-64.6],58.5 [51.5-65.9],62.7 [55.3-70.4]
513,Ukraine,Female,4.7 [3.3-6.4],4.6 [3.4-6.2],4.5 [3.5-5.6],4.7 [3.9-5.6],4.9 [4.1-5.7],5.3 [4.6-6.2],5.2 [4.4-6.0],5.1 [4.4-5.9],...,5.7 [5.0-6.6],6.5 [5.5-7.4],6.5 [5.6-7.5],6.5 [5.6-7.4],7.0 [6.0-8.0],7.0 [6.1-8.1],7.3 [6.3-8.4],7.6 [6.6-8.7],7.8 [6.8-9.0],8.5 [7.3-9.7]
523,United States,Both sexes,14.5 [13.6-19.3],14.1 [13.2-18.8],14.4 [13.6-19.2],13.7 [13.0-17.8],12.9 [12.3-16.0],12.4 [11.9-16.1],12.0 [11.6-18.0],12.1 [11.6-15.5],...,11.4 [11.0-16.5],11.4 [11.0-16.8],11.2 [10.8-15.4],11.0 [10.6-14.7],10.7 [10.3-13.0],10.8 [10.4-13.1],10.6 [10.2-14.3],10.6 [10.3-14.7],10.3 [10.0-14.3],10.0 [9.7-15.0]
524,United States,Male,22.4 [20.9-30.0],21.8 [20.5-29.2],22.5 [21.3-29.0],21.2 [20.3-29.0],19.9 [19.1-25.9],19.2 [18.4-23.7],18.8 [18.0-26.5],18.9 [18.2-25.5],...,18.1 [17.5-24.0],18.1 [17.5-24.7],17.7 [17.2-23.1],17.5 [16.9-22.0],17.1 [16.5-21.6],17.2 [16.6-21.6],17.1 [16.6-24.2],17.3 [16.7-22.4],16.9 [16.4-24.5],16.4 [15.9-23.5]
525,United States,Female,6.8 [6.3-8.8],6.6 [6.1-8.6],6.5 [6.1-9.6],6.3 [5.9-6.6],6.1 [5.8-6.3],5.8 [5.5-8.7],5.5 [5.3-9.7],5.4 [5.2-5.7],...,5.0 [4.8-9.1],5.0 [4.8-9.1],4.9 [4.7-7.9],4.7 [4.5-7.7],4.6 [4.4-4.8],4.7 [4.5-4.9],4.4 [4.2-4.5],4.3 [4.1-7.3],4.1 [3.9-4.2],4.0 [3.8-6.9]

In [75]:
pd.melt?

In [113]:
dfnew2 = pd.melt(dfnew1, id_vars=['country', 'sex'])
#    frame: 'dfnew1',
#    id_vars=['country', 'sex'],
#    value_vars=None,
#    var_name=None,
#    value_name='value',
#    col_level=None,
#    ignore_index: 'bool' = True,
#) -> 'DataFrame'

In [125]:
dfnew2.columns=('country', 'sex', 'year', 'suicide_rate')
dfnew2.year = dfnew2.year.astype(int)

In [126]:
df2.year = df2.year.astype(int)

countrycode       object
country           object
currency_unit     object
year               int64
rgdpe            float64
rgdpo            float64
pop              float64
emp              float64
avh              float64
hc               float64
ccon             float64
cda              float64
cgdpe            float64
cgdpo            float64
cn               float64
ck               float64
ctfp             float64
cwtfp            float64
rgdpna           float64
rconna           float64
rdana            float64
rnna             float64
rkna             float64
rtfpna           float64
rwtfpna          float64
labsh            float64
irr              float64
delta            float64
xr               float64
pl_con           float64
pl_da            float64
pl_gdpo          float64
i_cig             object
i_xm              object
i_xr              object
i_outlier         object
i_irr             object
cor_exp          float64
statcap          float64
csh_c            float64
csh_i            float64
csh_g            float64
csh_x            float64
csh_m            float64
csh_r            float64
pl_c             float64
pl_i             float64
pl_g             float64
pl_x             float64
pl_m             float64
pl_n             float64
pl_k             float64
dtype: object

In [166]:
df2.country.value_counts()

Belarus              20
Bhutan               20
Ukraine              20
Singapore            20
Poland               20
Lithuania            20
Republic of Korea    20
Kazakhstan           20
Japan                20
India                20
Guyana               20
France               20
Finland              20
Germany              20
Czech Republic       20
China                20
Canada               20
United States        20
Name: country, dtype: int64

In [117]:
df2.year.value_counts()

2000.0    18
2001.0    18
2018.0    18
2017.0    18
2016.0    18
2015.0    18
2014.0    18
2013.0    18
2012.0    18
2011.0    18
2010.0    18
2009.0    18
2008.0    18
2007.0    18
2006.0    18
2005.0    18
2004.0    18
2003.0    18
2002.0    18
2019.0    18
Name: year, dtype: int64

In [132]:
df2

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,BLR,Belarus,Belarussian Ruble,2000,8.917716e+04,9.765696e+04,9.871632,4.372109,NaN,NaN,...,0.166126,-0.184716,0.105141,0.134269,0.203491,0.074551,0.464609,0.492811,0.133774,0.167131
1,BLR,Belarus,Belarussian Ruble,2001,9.244982e+04,9.509509e+04,9.811401,4.338583,NaN,NaN,...,0.178328,-0.204092,0.037485,0.141841,0.227353,0.103386,0.451009,0.438277,0.165317,0.202882
2,BLR,Belarus,Belarussian Ruble,2002,9.432126e+04,9.668456e+04,9.745923,4.294674,NaN,NaN,...,0.186085,-0.223651,0.044530,0.160726,0.248865,0.129283,0.456857,0.430897,0.196705,0.248277
3,BLR,Belarus,Belarussian Ruble,2003,9.702178e+04,1.012254e+05,9.679235,4.247723,NaN,NaN,...,0.201331,-0.236624,0.054137,0.181188,0.284349,0.168261,0.496590,0.491024,0.235737,0.325404
4,BLR,Belarus,Belarussian Ruble,2004,1.035195e+05,1.088544e+05,9.616634,4.220854,NaN,NaN,...,0.239881,-0.291149,0.080425,0.207965,0.342950,0.222796,0.535639,0.524560,0.293067,0.411686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,USA,United States,US Dollar,2015,1.890512e+07,1.878536e+07,320.878310,150.248474,1770.023174,3.728116,...,0.119109,-0.171910,0.015626,0.939043,0.901439,1.243926,0.671554,0.716726,0.949906,1.000000
356,USA,United States,US Dollar,2016,1.928525e+07,1.909520e+07,323.015995,152.396957,1766.744125,3.733411,...,0.113846,-0.164109,0.015137,0.950885,0.918794,1.224623,0.667374,0.717047,0.968222,1.000000
357,USA,United States,US Dollar,2017,1.975475e+07,1.954298e+07,325.084756,154.672317,1763.726676,3.738714,...,0.115603,-0.170726,0.015552,0.969497,0.934584,1.213737,0.684219,0.720900,1.000000,1.000000
358,USA,United States,US Dollar,2018,2.036944e+07,2.015526e+07,327.096265,156.675903,1774.703811,3.744024,...,0.117129,-0.173503,0.016334,0.990763,0.963756,1.251203,0.706347,0.747758,1.038351,1.000000
359,USA,United States,US Dollar,2019,2.086051e+07,2.059584e+07,329.064917,158.299591,1765.346390,3.749341,...,0.111490,-0.165832,0.014591,1.005707,0.988310,1.266850,0.717118,0.752818,1.069460,1.000000

In [135]:
dfnew22 = dfnew2.drop(columns='sex')
dfnew22.T

,0,1,2,3,4,5,6,7,8,9,...,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079
country,Belarus,Belarus,Belarus,Bhutan,Bhutan,Bhutan,Canada,Canada,Canada,China,...,Republic of Korea,Singapore,Singapore,Singapore,Ukraine,Ukraine,Ukraine,United States,United States,United States
year,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000
suicide_rate,16.5 [11.4-23.7],30.1 [20.9-43.3],5.3 [3.5-7.6],5.1 [2.7-8.5],6.8 [3.6-11.5],3.1 [1.7-5.0],10.3 [8.4-14.8],15.3 [12.5-18.4],5.4 [4.3-11.3],6.7 [5.1-8.7],...,8.2 [7.1-19.4],11.4 [9.7-13.3],15.2 [12.9-17.7],7.8 [6.5-9.1],33.5 [29.5-37.7],62.7 [55.3-70.4],8.5 [7.3-9.7],10.0 [9.7-15.0],16.4 [15.9-23.5],4.0 [3.8-6.9]

In [136]:
dfnew2

            country         sex  year      suicide_rate
0           Belarus  Both sexes  2019  16.5 [11.4-23.7]
1           Belarus        Male  2019  30.1 [20.9-43.3]
2           Belarus      Female  2019     5.3 [3.5-7.6]
3            Bhutan  Both sexes  2019     5.1 [2.7-8.5]
4            Bhutan        Male  2019    6.8 [3.6-11.5]
...             ...         ...   ...               ...
1075        Ukraine        Male  2000  62.7 [55.3-70.4]
1076        Ukraine      Female  2000     8.5 [7.3-9.7]
1077  United States  Both sexes  2000   10.0 [9.7-15.0]
1078  United States        Male  2000  16.4 [15.9-23.5]
1079  United States      Female  2000     4.0 [3.8-6.9]

[1080 rows x 4 columns]

In [138]:
dfnew2.pivot_table('suicide_rate',['country', 'year'], 'sex')

/usr/local/anaconda3/lib/python3.9/site-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

Empty DataFrame
Columns: []
Index: [(Belarus, 2000), (Belarus, 2001), (Belarus, 2002), (Belarus, 2003), (Belarus, 2004), (Belarus, 2005), (Belarus, 2006), (Belarus, 2007), (Belarus, 2008), (Belarus, 2009), (Belarus, 2010), (Belarus, 2011), (Belarus, 2012), (Belarus, 2013), (Belarus, 2014), (Belarus, 2015), (Belarus, 2016), (Belarus, 2017), (Belarus, 2018), (Belarus, 2019), (Bhutan, 2000), (Bhutan, 2001), (Bhutan, 2002), (Bhutan, 2003), (Bhutan, 2004), (Bhutan, 2005), (Bhutan, 2006), (Bhutan, 2007), (Bhutan, 2008), (Bhutan, 2009), (Bhutan, 2010), (Bhutan, 2011), (Bhutan, 2012), (Bhutan, 2013), (Bhutan, 2014), (Bhutan, 2015), (Bhutan, 2016), (Bhutan, 2017), (Bhutan, 2018), (Bhutan, 2019), (Canada, 2000), (Canada, 2001), (Canada, 2002), (Canada, 2003), (Canada, 2004), (Canada, 2005), (Canada, 2006), (Canada, 2007), (Canada, 2008), (Canada, 2009), (Canada, 2010), (Canada, 2011), (Canada, 2012), (Canada, 2013), (Canada, 2014), (Canada, 2015), (Canada, 2016), (Canada, 2017), (Canada, 2018), (Canada, 2019), (China, 2000), (China, 2001), (China, 2002), (China, 2003), (China, 2004), (China, 2005), (China, 2006), (China, 2007), (China, 2008), (China, 2009), (China, 2010), (China, 2011), (China, 2012), (China, 2013), (China, 2014), (China, 2015), (China, 2016), (China, 2017), (China, 2018), (China, 2019), (Czech Republic, 2000), (Czech Republic, 2001), (Czech Republic, 2002), (Czech Republic, 2003), (Czech Republic, 2004), (Czech Republic, 2005), (Czech Republic, 2006), (Czech Republic, 2007), (Czech Republic, 2008), (Czech Republic, 2009), (Czech Republic, 2010), (Czech Republic, 2011), (Czech Republic, 2012), (Czech Republic, 2013), (Czech Republic, 2014), (Czech Republic, 2015), (Czech Republic, 2016), (Czech Republic, 2017), (Czech Republic, 2018), (Czech Republic, 2019), ...]

[360 rows x 0 columns]

In [143]:
dfnew2.set_index(['sex', 'country', 'year']).suicide_rate.unstack(0).reset_index()

sex        country  year        Both sexes           Female              Male
0          Belarus  2000  37.3 [32.6-42.1]   9.5 [8.0-11.1]  69.3 [60.9-78.0]
1          Belarus  2001  38.3 [33.5-43.4]   9.5 [8.0-11.1]  71.5 [62.7-80.6]
2          Belarus  2002  38.7 [33.6-44.1]  10.0 [8.3-11.7]  71.9 [62.7-81.5]
3          Belarus  2003  37.1 [32.1-42.4]   9.5 [7.9-11.2]  69.1 [60.1-78.7]
4          Belarus  2004  36.1 [30.9-41.4]   9.7 [8.1-11.6]  66.7 [57.5-76.3]
..             ...   ...               ...              ...               ...
355  United States  2015  12.9 [12.3-16.0]    6.1 [5.8-6.3]  19.9 [19.1-25.9]
356  United States  2016  13.7 [13.0-17.8]    6.3 [5.9-6.6]  21.2 [20.3-29.0]
357  United States  2017  14.4 [13.6-19.2]    6.5 [6.1-9.6]  22.5 [21.3-29.0]
358  United States  2018  14.1 [13.2-18.8]    6.6 [6.1-8.6]  21.8 [20.5-29.2]
359  United States  2019  14.5 [13.6-19.3]    6.8 [6.3-8.8]  22.4 [20.9-30.0]

[360 rows x 5 columns]

In [144]:
dfnew2 = dfnew2.set_index(['sex', 'country', 'year']).suicide_rate.unstack(0).reset_index()

In [162]:
dfnew2.to_csv('whocleanest.csv', index=False)

In [167]:
df3 = pd.read_csv('whocleanest.csv')
df3

           country  year        Both sexes           Female              Male
0          Belarus  2000  37.3 [32.6-42.1]   9.5 [8.0-11.1]  69.3 [60.9-78.0]
1          Belarus  2001  38.3 [33.5-43.4]   9.5 [8.0-11.1]  71.5 [62.7-80.6]
2          Belarus  2002  38.7 [33.6-44.1]  10.0 [8.3-11.7]  71.9 [62.7-81.5]
3          Belarus  2003  37.1 [32.1-42.4]   9.5 [7.9-11.2]  69.1 [60.1-78.7]
4          Belarus  2004  36.1 [30.9-41.4]   9.7 [8.1-11.6]  66.7 [57.5-76.3]
..             ...   ...               ...              ...               ...
355  United States  2015  12.9 [12.3-16.0]    6.1 [5.8-6.3]  19.9 [19.1-25.9]
356  United States  2016  13.7 [13.0-17.8]    6.3 [5.9-6.6]  21.2 [20.3-29.0]
357  United States  2017  14.4 [13.6-19.2]    6.5 [6.1-9.6]  22.5 [21.3-29.0]
358  United States  2018  14.1 [13.2-18.8]    6.6 [6.1-8.6]  21.8 [20.5-29.2]
359  United States  2019  14.5 [13.6-19.3]    6.8 [6.3-8.8]  22.4 [20.9-30.0]

[360 rows x 5 columns]

In [168]:
df2

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,BLR,Belarus,Belarussian Ruble,2000.0,8.917716e+04,9.765696e+04,9.871632,4.372109,NaN,NaN,...,0.166126,-0.184716,0.105141,0.134269,0.203491,0.074551,0.464609,0.492811,0.133774,0.167131
1,BLR,Belarus,Belarussian Ruble,2001.0,9.244982e+04,9.509509e+04,9.811401,4.338583,NaN,NaN,...,0.178328,-0.204092,0.037485,0.141841,0.227353,0.103386,0.451009,0.438277,0.165317,0.202882
2,BLR,Belarus,Belarussian Ruble,2002.0,9.432126e+04,9.668456e+04,9.745923,4.294674,NaN,NaN,...,0.186085,-0.223651,0.044530,0.160726,0.248865,0.129283,0.456857,0.430897,0.196705,0.248277
3,BLR,Belarus,Belarussian Ruble,2003.0,9.702178e+04,1.012254e+05,9.679235,4.247723,NaN,NaN,...,0.201331,-0.236624,0.054137,0.181188,0.284349,0.168261,0.496590,0.491024,0.235737,0.325404
4,BLR,Belarus,Belarussian Ruble,2004.0,1.035195e+05,1.088544e+05,9.616634,4.220854,NaN,NaN,...,0.239881,-0.291149,0.080425,0.207965,0.342950,0.222796,0.535639,0.524560,0.293067,0.411686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,USA,United States,US Dollar,2015.0,1.890512e+07,1.878536e+07,320.878310,150.248474,1770.023174,3.728116,...,0.119109,-0.171910,0.015626,0.939043,0.901439,1.243926,0.671554,0.716726,0.949906,1.000000
356,USA,United States,US Dollar,2016.0,1.928525e+07,1.909520e+07,323.015995,152.396957,1766.744125,3.733411,...,0.113846,-0.164109,0.015137,0.950885,0.918794,1.224623,0.667374,0.717047,0.968222,1.000000
357,USA,United States,US Dollar,2017.0,1.975475e+07,1.954298e+07,325.084756,154.672317,1763.726676,3.738714,...,0.115603,-0.170726,0.015552,0.969497,0.934584,1.213737,0.684219,0.720900,1.000000,1.000000
358,USA,United States,US Dollar,2018.0,2.036944e+07,2.015526e+07,327.096265,156.675903,1774.703811,3.744024,...,0.117129,-0.173503,0.016334,0.990763,0.963756,1.251203,0.706347,0.747758,1.038351,1.000000
359,USA,United States,US Dollar,2019.0,2.086051e+07,2.059584e+07,329.064917,158.299591,1765.346390,3.749341,...,0.111490,-0.165832,0.014591,1.005707,0.988310,1.266850,0.717118,0.752818,1.069460,1.000000

In [169]:
df3

           country  year        Both sexes           Female              Male
0          Belarus  2000  37.3 [32.6-42.1]   9.5 [8.0-11.1]  69.3 [60.9-78.0]
1          Belarus  2001  38.3 [33.5-43.4]   9.5 [8.0-11.1]  71.5 [62.7-80.6]
2          Belarus  2002  38.7 [33.6-44.1]  10.0 [8.3-11.7]  71.9 [62.7-81.5]
3          Belarus  2003  37.1 [32.1-42.4]   9.5 [7.9-11.2]  69.1 [60.1-78.7]
4          Belarus  2004  36.1 [30.9-41.4]   9.7 [8.1-11.6]  66.7 [57.5-76.3]
..             ...   ...               ...              ...               ...
355  United States  2015  12.9 [12.3-16.0]    6.1 [5.8-6.3]  19.9 [19.1-25.9]
356  United States  2016  13.7 [13.0-17.8]    6.3 [5.9-6.6]  21.2 [20.3-29.0]
357  United States  2017  14.4 [13.6-19.2]    6.5 [6.1-9.6]  22.5 [21.3-29.0]
358  United States  2018  14.1 [13.2-18.8]    6.6 [6.1-8.6]  21.8 [20.5-29.2]
359  United States  2019  14.5 [13.6-19.3]    6.8 [6.3-8.8]  22.4 [20.9-30.0]

[360 rows x 5 columns]

In [170]:
df4 = df2.merge(df3, how='left', on=['country', 'year'])
df4

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k,Both sexes,Female,Male
0,BLR,Belarus,Belarussian Ruble,2000.0,8.917716e+04,9.765696e+04,9.871632,4.372109,NaN,NaN,...,0.134269,0.203491,0.074551,0.464609,0.492811,0.133774,0.167131,37.3 [32.6-42.1],9.5 [8.0-11.1],69.3 [60.9-78.0]
1,BLR,Belarus,Belarussian Ruble,2001.0,9.244982e+04,9.509509e+04,9.811401,4.338583,NaN,NaN,...,0.141841,0.227353,0.103386,0.451009,0.438277,0.165317,0.202882,38.3 [33.5-43.4],9.5 [8.0-11.1],71.5 [62.7-80.6]
2,BLR,Belarus,Belarussian Ruble,2002.0,9.432126e+04,9.668456e+04,9.745923,4.294674,NaN,NaN,...,0.160726,0.248865,0.129283,0.456857,0.430897,0.196705,0.248277,38.7 [33.6-44.1],10.0 [8.3-11.7],71.9 [62.7-81.5]
3,BLR,Belarus,Belarussian Ruble,2003.0,9.702178e+04,1.012254e+05,9.679235,4.247723,NaN,NaN,...,0.181188,0.284349,0.168261,0.496590,0.491024,0.235737,0.325404,37.1 [32.1-42.4],9.5 [7.9-11.2],69.1 [60.1-78.7]
4,BLR,Belarus,Belarussian Ruble,2004.0,1.035195e+05,1.088544e+05,9.616634,4.220854,NaN,NaN,...,0.207965,0.342950,0.222796,0.535639,0.524560,0.293067,0.411686,36.1 [30.9-41.4],9.7 [8.1-11.6],66.7 [57.5-76.3]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,USA,United States,US Dollar,2015.0,1.890512e+07,1.878536e+07,320.878310,150.248474,1770.023174,3.728116,...,0.939043,0.901439,1.243926,0.671554,0.716726,0.949906,1.000000,12.9 [12.3-16.0],6.1 [5.8-6.3],19.9 [19.1-25.9]
356,USA,United States,US Dollar,2016.0,1.928525e+07,1.909520e+07,323.015995,152.396957,1766.744125,3.733411,...,0.950885,0.918794,1.224623,0.667374,0.717047,0.968222,1.000000,13.7 [13.0-17.8],6.3 [5.9-6.6],21.2 [20.3-29.0]
357,USA,United States,US Dollar,2017.0,1.975475e+07,1.954298e+07,325.084756,154.672317,1763.726676,3.738714,...,0.969497,0.934584,1.213737,0.684219,0.720900,1.000000,1.000000,14.4 [13.6-19.2],6.5 [6.1-9.6],22.5 [21.3-29.0]
358,USA,United States,US Dollar,2018.0,2.036944e+07,2.015526e+07,327.096265,156.675903,1774.703811,3.744024,...,0.990763,0.963756,1.251203,0.706347,0.747758,1.038351,1.000000,14.1 [13.2-18.8],6.6 [6.1-8.6],21.8 [20.5-29.2]
359,USA,United States,US Dollar,2019.0,2.086051e+07,2.059584e+07,329.064917,158.299591,1765.346390,3.749341,...,1.005707,0.988310,1.266850,0.717118,0.752818,1.069460,1.000000,14.5 [13.6-19.3],6.8 [6.3-8.8],22.4 [20.9-30.0]

In [171]:
df4.to_csv('combined.csv', index=False)

In [172]:
df5 = pd.read_csv('combined.csv')
df5

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k,Both sexes,Female,Male
0,BLR,Belarus,Belarussian Ruble,2000.0,8.917716e+04,9.765696e+04,9.871632,4.372109,NaN,NaN,...,0.134269,0.203491,0.074551,0.464609,0.492811,0.133774,0.167131,37.3 [32.6-42.1],9.5 [8.0-11.1],69.3 [60.9-78.0]
1,BLR,Belarus,Belarussian Ruble,2001.0,9.244982e+04,9.509509e+04,9.811401,4.338583,NaN,NaN,...,0.141841,0.227353,0.103386,0.451009,0.438277,0.165317,0.202882,38.3 [33.5-43.4],9.5 [8.0-11.1],71.5 [62.7-80.6]
2,BLR,Belarus,Belarussian Ruble,2002.0,9.432126e+04,9.668456e+04,9.745923,4.294674,NaN,NaN,...,0.160726,0.248865,0.129283,0.456857,0.430897,0.196705,0.248277,38.7 [33.6-44.1],10.0 [8.3-11.7],71.9 [62.7-81.5]
3,BLR,Belarus,Belarussian Ruble,2003.0,9.702178e+04,1.012254e+05,9.679235,4.247723,NaN,NaN,...,0.181188,0.284349,0.168261,0.496590,0.491024,0.235737,0.325404,37.1 [32.1-42.4],9.5 [7.9-11.2],69.1 [60.1-78.7]
4,BLR,Belarus,Belarussian Ruble,2004.0,1.035195e+05,1.088544e+05,9.616634,4.220854,NaN,NaN,...,0.207965,0.342950,0.222796,0.535639,0.524560,0.293067,0.411686,36.1 [30.9-41.4],9.7 [8.1-11.6],66.7 [57.5-76.3]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,USA,United States,US Dollar,2015.0,1.890512e+07,1.878536e+07,320.878310,150.248474,1770.023174,3.728116,...,0.939043,0.901439,1.243926,0.671554,0.716726,0.949906,1.000000,12.9 [12.3-16.0],6.1 [5.8-6.3],19.9 [19.1-25.9]
356,USA,United States,US Dollar,2016.0,1.928525e+07,1.909520e+07,323.015995,152.396957,1766.744125,3.733411,...,0.950885,0.918794,1.224623,0.667374,0.717047,0.968222,1.000000,13.7 [13.0-17.8],6.3 [5.9-6.6],21.2 [20.3-29.0]
357,USA,United States,US Dollar,2017.0,1.975475e+07,1.954298e+07,325.084756,154.672317,1763.726676,3.738714,...,0.969497,0.934584,1.213737,0.684219,0.720900,1.000000,1.000000,14.4 [13.6-19.2],6.5 [6.1-9.6],22.5 [21.3-29.0]
358,USA,United States,US Dollar,2018.0,2.036944e+07,2.015526e+07,327.096265,156.675903,1774.703811,3.744024,...,0.990763,0.963756,1.251203,0.706347,0.747758,1.038351,1.000000,14.1 [13.2-18.8],6.6 [6.1-8.6],21.8 [20.5-29.2]
359,USA,United States,US Dollar,2019.0,2.086051e+07,2.059584e+07,329.064917,158.299591,1765.346390,3.749341,...,1.005707,0.988310,1.266850,0.717118,0.752818,1.069460,1.000000,14.5 [13.6-19.3],6.8 [6.3-8.8],22.4 [20.9-30.0]

In [173]:
df5.shape

(360, 55)

In [176]:
df5.year.isnull().sum()

0

In [1]:
print('hi')
print('')
print('--------------------------------------')
print('--------------------------------------')

hi

--------------------------------------
--------------------------------------

In [4]:
print(f" 'hi', \n, ' ', \n, '-'*30, \n, '-'*30")

 'hi',
, ' ',
, '-'*30,
, '-'*30